<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Editing Book</h1>

      <%= form_with model: @book do |f| %>

      <div class="ed-fo">
        <p>Title</p>
        <%= f.text_field :title, style: "width:100%;" %>
      </div>

      <div class="ed-fo">
        <p>Opinion</p>
        <%= f.text_area :body, style: "width:100%;" %>
      </div>

      <%= button_tag " Update Book ", type: :submit %>

      <% end %>

      <div style="padding-top:15px;">
        <%= link_to "Show", book_path(@book.id) %> | <a href="/books">Back</a>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>