<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8c1e2aab30.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm" style="height:56px;">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="height:56px;">
        <div class="container">

          <a class="nav-link text-white large-text p-3" href="/">
            Bookers
          </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto" style="height:56px;">
              <li class="nav-item">
                <a class="nav-link text-white" href="/">
                  <i class="fa-solid fa-house"></i> Home
                </a>
              </li>
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to users_path, class: "text-decoration-none" do %>
                  <p class="nl text-white">
                    <i class="fa-solid fa-users"></i> Users
                  </p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path, class: "text-decoration-none" do %>
                  <p class="nl text-white">
                    <i class="fa-solid fa-book-open"></i> Books
                  </p>
                <% end %>
              </li>
              <li class="nav-item" style="white-space: nowrap;">
                <%= link_to destroy_user_session_path, method: :delete, class: "text-decoration-none" do%>
                  <p class="nl text-white">
                    <i class="fa-solid fa-right-from-bracket"></i> Log out
                  </p>
                <% end %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to about_path, class: "text-decoration-none" do%>
                  <p class="nl text-white">
                    <i class="fa-solid fa-link"></i> About
                  </p>
                <% end %>
              </li>
              <li class="nav-item" style="white-space: nowrap;">
                <%= link_to new_user_registration_path, class: "text-decoration-none" do%>
                  <p class=" nl text-white">
                    <i class="fa-solid fa-user-plus"></i> Sign up
                  </p>
                <% end %>
              </li>
              <li class="nav-item" style="white-space: nowrap;">
                <%= link_to new_user_session_path, class: "text-decoration-none" do %>
                  <p class="nl text-white">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in
                  </p>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="bg-white d-flex justify-content-center pb-10">
      <p class="text-#777">CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
